@font-face {
  font-family: pixel; /* set name */
  src: url(Minecraft.ttf); /* url of the font */
}

#game-container {
    /*background-image: url("./assets/catnip.webp");*/
    display: inline-block;

}

#game-image {
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

#main-body {
    width: fit-content;
    margin: auto;
    
}

#body-container {
    padding: 5%;
}

#game-canvas {
    display: block;
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

